.main-screen {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.menu-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    text-align: center;
}

.font-bold {
    font-weight: bold;
}

.UList {
    align-items: center;
    padding: 1rem;
}

.UList li {
    font-size: 2.25rem;
}

.menu-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-align: center;
}

/* .CarouselWrapper {
    width: 60%;
    height: 60vh;
    align-self: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
} */

.menu-note-container {
    position: absolute;
    width: 20%;
    right: 0;
    font-size: 1.5rem;
    text-align: end;
    margin-top: 1rem;
    border-color: grey;
    border: 1px solid grey;
    background-color: white;
}